/* Stili per dispositivi mobili */
@media screen and (max-width: 768px) {
    .custom-navbar {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;
    }
  
    #logo {
      width: 60px;
      margin: 10px 0;
    }
  
    .insta {
      width: 20px;
      position: static;
      margin: 10px 0;
    }
  
    .nav-list {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 10px;
    }
  
    .nav-list li {
      margin-right: 0;
      margin-bottom: 5px;
    }
  
    .galleria {
      font-size: 18px;
    }
  
    .btn-red {
      padding: 10px 40px;
      font-size: 16px;
    }
  
    .carta, .img-thumbnail {
      width: 100%; /* Riempi larghezza del contenitore */
      height: auto; /* Altezza proporzionale */
      max-width: 250px;
      max-height: 350px;
      margin: 10px auto; /* Margine superiore e inferiore, centrato orizzontalmente */
    }
  
    .posizione {
      position: static;
      display: block;
      margin-top: 20px;
    }
  
    .galleria {
      margin-top: 20px;
      font-size: 36px;
      width: auto;
    }
  
    .lavori {
      font-size: 48px;
    }
  
    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 999;
    }
  
    .enlarged-image {
      max-width: 95%;
      max-height: 95%;
      object-fit: contain;
      cursor: pointer;
    }
  }
  