/* Stile della navbar per dispositivi mobili */
@media (max-width: 768px) {
    /* Nascondi il logo in versione mobile */
    #logo {
        width: 80px;
        height: 80px;
        display: inline-block;
    }
  
    /* Rendi visibili le icone dei social media */
    .insta {
      display: inline-block;
    }
  
    /* Stile per la navbar a comparsa */
    .custom-navbar {
      flex-direction: column;
      align-items: center;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.8);
      padding: 10px;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 9999;
      transform: translateY(-100%);
      transition: transform 0.3s ease-in-out;
    }
  
    /* Mostra la navbar a comparsa quando aperta */
    .navbar-open .custom-navbar {
      transform: translateY(0);
    }
  
    /* Stile per le voci del menu */
    .navLink {
      margin: 10px;
      font-size: 18px;
      color: #fff;
      text-decoration: none;
      transition: color 0.2s;
    }
  
    /* Cambia il colore del testo quando si passa sopra una voce del menu */
    .navLink:hover {
      color: #f7d731;
    }
  
    /* Stile per l'icona della freccia in versione mobile */
    #freccia,
    #freccia2 {
      display: none;
    }
  
    /* Stile per il pulsante di apertura della navbar a comparsa */
    .navbar-toggler {
      color: #fff;
      border: none;
      background-color: transparent;
      font-size: 24px;
      cursor: pointer;
      margin-top: 10px;
    }
  
    /* Stile per l'immagine di freccia in versione mobile */
    .freccia-icon {
      width: 30px;
      transform: rotate(90deg);
    }
  }
  