/* Stile per dispositivi mobili */
@media screen and (max-width: 768px) {
    /* Riduci le dimensioni del logo e aggiungi margine */
    #logo {
        width: 80px;
        margin-left: 10px;
    }

    /* Stile per la barra di navigazione */
    .custom-navbar {
        display: flex;
        align-items: center;
        padding: 10px;
        background-color: white; /* Aggiungi un colore di sfondo */
    }

    /* Stile per le voci del menu */
    .navLink {
        font-size: 14px;
    }

    /* Stile per l'icona Instagram */
    .insta {
        width: 20px;
        margin-right: 10px;
    }

    /* Riduci dimensioni titolo benvenuto */
    .benvenuto {
        font-size: 25px;
    }

    /* Riduci dimensioni del blocco viola */
    .viola {
        width: 90%;
        padding: 20px;
    }

    /* Riduci dimensioni del testo nel blocco viola */
    .nelviola {
        padding: 10px;
        font-size: 18px;
    }

    /* Stile per l'immagine gialla */
    .immagineGialla {
        width: 100%;
        height: auto;
    }

    /* Riduci dimensioni dell'immagine Makima */
    #scrollImg {
        height: 350;
        margin-top: 20px;
        right: -70px;
    }

    /* Riduci dimensioni del titolo "UN AMANTE DELLO STILE MANGA" */
    #stileManga {
        font-size: 30px;
        margin-top: 20px;
    }

    /* Riduci dimensioni del testo "Se sei un amante di questo stile..." */
    #testoManga {
        font-size: 20px;
        margin: 10px;
        margin-top: 20px;
    }

    /* Riduci dimensioni del pulsante "CHI SONO" */
    .btn-toolset {
        font-size: 16px;
        padding: 12px 40px;
    }

    /* Stile per il blocco con i dati del cliente */
    .cont-info {
        background-color: rgb(162, 185, 78);
        width: auto;
        height: auto;
        padding: 20px;
        border-radius: 20px;
        margin-top: 20px;
    }

    /* Stile per la sezione margin-top */
    section[style="margin-top: 70px;"] {
        height: 40px; /* Riduci l'altezza della sezione */
    }

    /* Stile per il pulsante di invio su WhatsApp */
    #inviaButton {
        margin-top: 20px;
        font-size: 16px;
        padding: 10px 20px;
    }
}
