/* Aggiungi questo CSS per dispositivi mobili */
@media screen and (max-width: 768px) {
    /* Riduci le dimensioni del logo */
    #logo {
      width: 80px;
      margin-left: 10px;
    }
  
    /* Riduci le dimensioni dei link nella navbar */
    nav a {
      font-size: 14px;
    }
  
    /* Riduci la dimensione del testo di benvenuto */
    .benvenuto {
      font-size: 30px;
    }
  
    /* Riduci le dimensioni del blocco viola */
    .viola {
      width: 90%;
      padding: 20px;
    }
  
    /* Riduci la dimensione del testo all'interno del blocco viola */
    .nelviola {
      font-size: 18px;
    }

    #scrollDiv {
      width: 100%;
      height: 300px;
    }
  
    /* Riduci la dimensione dell'immagine gialla */
    .immagineGialla {
      width: 100%;
      height: 300px;
    }
  
    /* Riduci la dimensione dell'immagine Makima */
    .makima {
      height: 350px;
      right: -10px;
    }
  
    /* Riduci la dimensione del testo "UN AMANTE DELLO STILE MANGA" */
    #stileManga {
      font-size: 30px;
      margin-top: 20px;
    }
  
    /* Riduci la dimensione del testo "Se sei un amante di questo stile..." */
    #testoManga {
      font-size: 20px;
      margin: 10px;
      margin-top: 20px;
    }
  
    /* Riduci la dimensione del pulsante "CHI SONO" */
    .btn-toolset {
      font-size: 16px;
      padding: 12px 40px;
    }
  }
  