/* Stile per dispositivi mobili */
@media screen and (max-width: 768px) {

    /* Riduci le dimensioni del logo e aggiungi margine */
    .custom-navbar {
        display: flex;
        flex-direction: column;
        padding: 5px 10px; /* Riduci il padding */
        background-color: rgb(255, 255, 255); /* Aggiungi un colore di sfondo */
    }

    /* Stile per il logo */
    #logo {
        width: 80px;
        margin-left: 10px;
        margin-top: 10px;
    }

    /* Stile per l'icona Instagram */
    .insta {
        width: 30px;
        float: right;
        margin-right: 10px; /* Aggiungi un margine destro per separare dall'elemento precedente */
        margin-top: 10px;

    }

    /* Stile per le voci del menu */
     .nav-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start; /* Allinea le voci a sinistra */
        margin-top: 10px; /* Aggiungi margine in cima al UL */
        list-style: none; /* Rimuovi i punti dalle voci del menu */
    }

    .nav-list a {
        font-size: 14px;
        margin-left: 10px; /* Aggiungi margine sinistro */
    }


    ul li {
        margin-right: -10px; /* Aggiungi spazio tra le voci */
    }
   





    

    /* Riduci dimensioni titolo benvenuto */
    .benvenuto {
        font-size: 40px;
    }

    /* Riduci dimensioni del blocco viola */
    .viola {
        width: 90%;
        padding: 20px;
    }

    /* Riduci dimensioni del testo nel blocco viola */
    .nelviola {
        padding: 10px;
        font-size: 18px;
    }

    /* Stile per l'immagine gialla */
    .immagineGialla {
        width: 100%;
        height: 500px;
    }

    #scrollDiv {
        width: 100%;
        height: 500px;
      }

    /* Riduci dimensioni dell'immagine Makima */
    .makima {
        height: 150px;
        margin-top: 20px;
        right: -70px;
    }

    /* Riduci dimensioni del titolo "UN AMANTE DELLO STILE MANGA" */
    #stileManga {
        font-size: 50px;
        margin-top: 20px;
    }

    /* Riduci dimensioni del testo "Se sei un amante di questo stile..." */
    #testoManga {
        font-size: 20px;
        margin: 10px;
        margin-top: 20px;
    }

    /* Riduci dimensioni del pulsante "CHI SONO" */
    .btn-toolset {
        font-size: 16px;
        padding: 12px 40px;
    }

    /* Stile per il blocco con i dati del cliente */
    .cont-info {
        background-color: rgb(162, 185, 78);
        width: auto;
        height: auto;
        padding: 20px;
        border-radius: 20px;
        margin-top: 20px;
    }

    /* Stile per la sezione margin-top */
    section[style="margin-top: 70px;"] {
        height: 40px; /* Riduci l'altezza della sezione */
    }

    /* Stile per il pulsante di invio su WhatsApp */
    #inviaButton {
        margin-top: 20px;
        font-size: 16px;
        padding: 10px 20px;
    }
}
