/* Aggiungi questo CSS per dispositivi mobili */

@media screen and (max-width: 768px) {
  /* Riduci le dimensioni del logo */
  #logo {
      width: 80px;
      margin-left: 10px;
  }

  nav ul {
    display: flex;
    flex-direction: column; /* Imposta il menu a una colonna */
    align-items: flex-start; /* Allinea gli elementi a sinistra */
    padding: 0; /* Rimuovi il padding dal menu */
    background-color: rgba(255, 255, 255, 0.9); /* Sfondo semi-trasparente */
    position: absolute;
    top: 60px; /* Aggiungi spazio sotto la barra di navigazione fissa */
    left: 0;
    width: 100%;
    transition: all 0.3s ease; /* Aggiungi una transizione per un effetto di apertura/chiusura */
    z-index: 9998; /* Porta il menu davanti a tutti gli altri elementi */
  }

  /* Stili per gli elementi del menu */
  li {
    padding: 10px;
    margin-left: 0;
    padding-left: 20px; /* Riduci il padding sinistro */
    width: 100%; /* Occupa tutta la larghezza disponibile */
    text-align: left; /* Allinea il testo a sinistra */
  }

  ul li {
    margin-right: 0; /* Rimuovi il margine destro */
  }

  ul li:last-child {
    margin-right: 0;
  }

  a {
    font-size: 16px; /* Riduci la dimensione del font */
    color: rgb(0, 0, 0);
    text-align: left;
  }
  
  .active {
    color: red;
  }


  /* Riduci le dimensioni del blocco viola */
  .viola {
      width: 90%;
      padding: 20px;
  }

  /* Riduci la dimensione del testo all'interno del blocco viola */
  .nelviola {
      padding: 10px;
      font-size: 18px;
  }

  #scrollDiv {
      width: 100%;
      height: 600px;
  }

  /* Riduci la dimensione dell'immagine gialla */
  .immagineGialla {
      width: 100%;
      height: 400px;
  }

  /* Riduci la dimensione dell'immagine Makima */
  .makima {
      height: 350px;
      right: -70px;
  }

  /* Riduci la dimensione del testo "UN AMANTE DELLO STILE MANGA" */
  #stileManga {
      font-size: 30px;
      margin-top: 20px;
  }

  /* Riduci la dimensione del testo "Se sei un amante di questo stile..." */
  #testoManga {
      font-size: 20px;
      margin: 10px;
      margin-top: 20px;
  }

  /* Riduci la dimensione del pulsante "CHI SONO" */
  .btn-toolset {
      font-size: 16px;
      padding: 12px 40px;
  }

  /* Nascondi la navigazione principale */
  nav ul {
      display: none;
  }

  .cont-info{
    background-color: rgb(162, 185, 78); width: auto; height: auto; padding: 20px; border-radius: 20px;
  }
  
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -10;
  filter: brightness(0.5);

}

}
